*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
        height: 100px;
}
.text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px
}
.text_sider{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px
}